body {
	background: #C3EFBB;
	transition-property:background;
	transition-duration: 3s;
}

body:active {
	background: #EFE1BB;
}

@keyframes blush {
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.donkey {
	width: 408px;
	height: 654px;
	margin: 150px auto;
	position: relative;
}
.donkey div {
	position: absolute;
}


.donkey:active .noses > .nosepart {
	transform:scale(0.4,0.4) translateY(30px);
}

.donkey:active .ears {
	transform: translateY(190px);
}

.donkey:active .tongue {
	transform: translateY(55px);
}

.donkey:active .tooth {
	transform: translateY(-45px);
}

.ears {
	transition: transform 3s;
}

.ears .left {
	border: 7px solid black;
	border-radius: 200px;
	transform: rotate(-10deg);
}

.ears .right {
	border: 7px solid black;
	border-radius: 200px;
	transform: rotate(10deg);
}

.ears .left.inner {
	top: 50px;
	left: 74px;
	width: 72px;
	height: 160px;
	background: #DEAF77;
}

.ears .left.outer {
	top: 13px;
	left: 60px;
	width: 109.78px;
	height: 282.68px;
	background: #785A34;
}

.ears .right.inner {
	top: 50px;
	left: 253px;
	width: 72px;
	height: 160px;
	background: #DEAF77;
}

.ears .right.outer {
	top: 13px;
	left: 229px;
	width: 109.78px;
	height: 282.68px;
	background: #785A34;
}

.overupface,
.overdownface,
.chin {
	border: 7px solid black;
	background: #785A34;
}

.underface {
	background: #785A34;
	top: 239.49px;
	left: 88px;
	width: 241.83px;
	height: 233.63px;
	border-radius: 100px 100px 150px 150px;
}

.overupface {
	top: 224.64px;
	left: 59.38px;
	width: 286.37px;
	height: 306.68px;
	border-radius: 200px 200px 380px 380px;
}

.overdownface {
	top: 357.86px;
	left: 59.38px;
	width: 286.37px;
	height: 225.42px;
	border-radius: 366px 366px 150px 150px;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.chin {
	top: 463.73px;
	left: 81.65px;
	height: 190.26px;
	width: 241.83px;
	border-radius: 366.5px 366.5px 150px 150px;
}


.eyes .left {
	top: 346.92px;
	left: 145px;
	width: 26px;
	height: 50px;
	background: black;
	border-radius: 30px;
}

.eyes .right {
	top: 346.92px;
	left: 245px;
	width: 26px;
	height: 50px;
	background: black;
	border-radius: 30px;
}

.noses .nosepart {
	transition: transform 3s;
	top: 496.95px;
	left: 85.17px;
	width: 234.8px;
	height: 85.95px;
	background: #DEAF77;
	border: 7px solid black;
	border-radius: 380px 380px 150px 150px;
}

.noses .leftnose {
	top: 553.52px;
	left: 174.09px;
	width: 25px;
	height: 14.85px;
	background: black;
	border-radius: 30px;
}

.noses .rightnose {
	top: 553.52px;
	left: 220.87px;
	width: 25px;
	height: 14.85px;
	background: black;
	border-radius: 30px;
}

.tooth {
	transition: transform 3s;
}

.tooth .left {
	top: 544.22px;
	left: 149px;
	width: 50.79px;
	height: 73.06px;
	background: #FFFFFF;
	border: 7px solid #000000;
	border-radius: 0px 0px 15px 15px;
}

.tooth .right {
	top: 544.22px;
	left: 208px;
	width: 50.79px;
	height: 73.06px;
	background: #FFFFFF;
	border: 7px solid #000000;
	border-radius: 0px 0px 15px 15px;
}

.blush {
	animation: blush 2s infinite alternate;
}

.blush .left {
	background: rgba(230, 76, 76, 0.6);
	top: 450px;
	left: 23px;
	width: 101px;
	height: 39px;
	border-radius: 50%;
}

.blush .right {
	background: rgba(230, 76, 76, 0.6);
	top: 450px;
	left: 300px;
	width: 101px;
	height: 39px;
	border-radius: 50%;
}

.tongue {
	transition: transform 3s;
}

.tongue .shape{
	top: 500px;
	left: 154px;
	width: 100px;
	height: 80px;
	background: #EA6161;
	border: 7px solid black;
	border-radius: 0px 0px 30px 30px;
}

.tongue .line {
	top: 540px;
	left: 183px;
	width: 45px;
	height: 0px;
	border: 5px solid black;
	border-radius: 20px;
	transform: rotate(90deg);
}